@font-face {font-family: Komoda;src: url(../Fontes/Komoda.otf);}
@font-face {font-family: Adam;src: url(../Fontes/ADAM.CG\ PRO.otf);}
@font-face {font-family: Genova;src: url(../Fontes/Genova.otf);}

:root{
    /* ===== Cores ===== */
    
    --cor01:#141414 ;
    --cor02:#3E3E40 ;
    --cor03:#8697A6 ;
    --cor04:#8C8C8C ;
    --cor05:#080806 ;
    --cor06:#9D8664 ;
}