
/* ===== Animações ===== */


@keyframes descricao {
    0%{
        margin-left: -570px;
    }
    30%{
        margin-left: -570px;
    }
    100%{
        margin-left: 0px;
    }
}

@keyframes conteudoText {
    0%{
        left: -300px;
        color: transparent;
    }
    40%{
        color: rgba(255, 255, 255, 0.306);
    }
    100%{
        left: 0;
        color: #fff;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
}

body{
    min-height: 100%;
    background-color: #141414;
    background-image: url(../imagens/areaInicialIndex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: center center;
    color: white;
    font-family: 'Genova';
    position: relative;
}

/* ===== ASIDE BAR ===== */


.asideBar{
    z-index: 3;
    background-color: var(--cor01);
    width: 110px;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.aside-itens{
    background-color: var(--cor01);
    width: 90px;
    height: 100%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.631);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aside-itens .logo-profile{
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-itens .logo-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .3s;
}
.aside-itens .logo-profile img:hover{
    transform: scale(1.2);
}

.especifc-profile{
    display: flex;
    width: 420px;
    transform: rotate(90deg);
    align-items: center;
    justify-content: space-between;
}

.especifc-profile .especifc{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ddd1bf;
}

.especifc-profile .linha{
    width: 120px;
    height: 2px;
    background-color: var(--cor06);
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 0 30px 0;
    gap: 20px;
}

.redes-sociais a{
    text-decoration: none;
    color: var(--cor06);
    
}



/* ===== HEADER ===== */

.header{
    top: 0;
    display: flex;
    width: 100%;
    position: fixed;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    z-index: 1;
    
}

.header a{
    font-size: 20px;
    margin-right: 60px;
    color: white;
    text-decoration: none;
    transition: all .2s;
    
}

.header a#Achievement{
    color: #dfcc9f;
    transition: all .2s;
}

.header a:hover,.header a#Achievement:hover{
    color: var(--cor06);
    transform: scale(1.1);
    background-color: transparent ;
}

/* ===== CONTEUDO ===== */

.conteudo{
    height: 100vh;
    width: 100%;
    padding-left: 200px;
}

.conteudo .conteudo-text{
    position: relative;
}

.conteudo .conteudo-text .text{
    margin-top: 290px;
    color: #fff;    
    width: 500px;
    font-family: 'Adam';
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    animation: conteudoText 2s;
}

.conteudo .conteudo-text .text p{
    margin-bottom: 10px;
}

.conteudo .conteudo-text .linha{
    width: 260px;
    position: absolute;
    height: 4px;
    margin: 520px 0;
    background-color: var(--cor06);
}

.conteudo .conteudo-text a{
    position: absolute;
    margin-top: 560px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    border: solid 2px white;
    padding: 8px;
    border-radius: 2px;
    transition: all 0.3s;
}

.conteudo .conteudo-text a:hover{
    transform: scale(1.1);
    
}


/*            MOBILE             */

.conteudoMobile , .Mobile{
    display: none;
}
.aside-itens .logo-profile p{
    display: none;
}

@media (max-height:740px){
    .especifc-profile{
        display:none;
    }
    
    .conteudo .conteudo-text{
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .conteudo .conteudo-text .text{
        margin-top: 0px;
    }
    .conteudo .conteudo-text a{
        margin-top: 300px;
    }
    
    
    .conteudo .conteudo-text .linha{
        display: none;
    }

    
}

@media (max-width:750px) {
    
    
    body{
        min-height: 100%;
        color: white;
        font-family: 'Genova';
        position: relative;
        
    }
    
    .maemobile{
        background-color: #141414;
        background-image: url(../imagens/areaInicialIndex.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        background-position: center center;
        
    }
    
    /*     ASIDE      */
    
    .header #telasG{
        display: none;
    }
    
    .asideBar{
        width: 100%;
        height: 90px;
        padding: 0;
        background-color: transparent;
        position: relative;
    }
    
    .aside-itens{
        width: 100%;
        height: 70px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        background-color: transparent;
        box-shadow: none;
    }
    
    .especifc-profile{
        display: none;
    }
    
    .redes-sociais{
        flex-direction: row;
        width: 100px;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        
    }
    .aside-itens .logo-profile{
        width: 50px;
        height: 50px;
        display: block;
        
    }
    
    .aside-itens .logo-profile p{
        display: flex;
        font-size:20px;
    }
    
    .aside-itens .logo-profile img{
        display: none;
    }
    
    /*    CONTEUDO     */
    
    html,body{
        min-height: 100%;
    }
    .conteudo{
        display: none;
    }
    
    .conteudoMobile {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 0;
        flex-direction: column;
    }
    
    .conteudoMobile .descricao{
        display: flex;
        min-height: 330px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .conteudoMobile .descricao img{
        width: 110px;
        height: 110px;
        border-radius: 25%;
        margin-bottom: 20px; 
    }
    .conteudoMobile .descricao img:hover{
        transform: scale(1.3);
        transition:all 0.2s linear;
    }
    
    .conteudoMobile .p{
        font-size: 17px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        animation: alternate descricao 2.5s;
    }
    
    .conteudoMobile .dashboard{
        height: 180px;
        width: 96%;
        background-color: #ffffff;
        border-radius: 0 50px 0 0;
        overflow: hidden;
        animation: alternate dashboard 3.5s;
        padding: 30px 10px;
        flex-direction: column;
    }

    @keyframes texto {
        0%{
            display: none;
            color: white;
        }
        
        65%{
            display: flex;
            color: #fff;
        }
        
    
        100%{
            color: #141414  ;
            
        }
    }

    @keyframes dashboard {
        0%{
            width: 0px;
            border-radius: 0;
            padding:0;
        }
        
        65%{
            border-radius: 0;
            
        }
        
    
        100%{
            width: 96%;
            border-radius: 0 50px 0 0;
            padding: 30px 10px;
            
        }
    }
    

    .conteudoMobile .dashboard #titulo{
        color: #141414;
        font-size: 15px;
        font-weight: 550;
        margin-bottom: 20px;
        animation: alternate texto 3.5s;
    }
    .conteudoMobile .dashboard .titulo a{
        display: flex;
        width: 160px;
        align-items: center;
        justify-content: left;
        text-decoration: none;
        color: #141414;
        font-size: 13px;
        margin-top: 5px;  
    }
    .conteudoMobile .dashboard .titulo a:hover{
        color: var(--cor06);
        transition: all 0.2s;  
    }

    .conteudoMobile .dashboard .titulo a img{
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }
    .conteudoMobile .dashboard .titulo a#udemy img{
        width: 20px;
        height: 30px;
        margin-left: 5px;
    }
    .conteudoMobile .dashboard .titulo a#udemy p{
        margin-left: 6px;
    }
    
    .Mobile{
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    .Mobile .projetos{
        background-color: black;
        width: 100%;
        height: auto;
        padding: 70px 20px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 60px 0;
        align-items: center;
    }

    .Mobile .projetos p{
        font-size: 30px;
        font-family: Adam;
    }
    
    .Mobile .projetos .projeto{
        display: flex;
        justify-content: space-between;
        gap: 0 10px;
    }

    .Mobile .projetos .projeto div{
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
    
    .Mobile .projetos .projeto div .tituloprojeto{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    
    .Mobile .projetos .projeto div a{
        text-decoration: none;

    }
    .Mobile .projetos .projeto div a:hover{
        text-decoration: underline;
        color: #fff;

    }

    .Mobile .projetos .projeto div p{
        font-size: 16px;
        font-weight: 200;
        font-family: 'Genova';
    }
    .Mobile .projetos .projeto .img{
        display: flex;
        align-items: center;
        
    }
    .Mobile .projetos .projeto img{
        width: 140px;
        border-radius: 8px;
        
    }
    
}
